name: al_raway
description: >-
  تطبيق "الرعوي" لإدارة عمليات البيع اليومية بين حسابات الرعوي، المقوت، والوكيل
  باستخدام قاعدة بيانات محلية وموفر الحالة Provider.
publish_to: 'none'
version: 0.1.0+1
environment:
  sdk: '>=2.19.0 <4.0.0'
  flutter: '>=3.10.0'
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  provider: ^6.0.5
  sqflite: ^2.3.0
  path: ^1.8.3
  intl: ^0.18.1
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
flutter:
  uses-material-design: true
